body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.referral-chain {
  margin: 40px 0; }

.app-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; }

.App-logo {
  height: 200px; }

.App-header {
  background-color: #7bcefd;
  height: 300px;
  padding: 20px;
  color: white;
  margin-top: 50px; }

.stuffs {
  display: flex;
  justify-content: space-around; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.sticky {
  padding: 10px 0;
  top: 0;
  position: fixed;
  height: auto;
  background: white;
  width: 100%; }

.recruit {
  display: flex;
  margin: 20px;
  justify-content: center; }
